[Unit]
Description=executes draft check script
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /home/organiser/Server/send_reminder.py
Restart=on-failure
RestartSec=5
User=root
Group=root